/* Glowing effect */
body {
  font-family: "Inter", sans-serif;
};
.glow {
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.4);
  };
.border_gradient {
    border-top-width: 1px;
    border-style: solid;
    border-color: rgb(179 255 171);
  };

.rfm-marquee-container{
overflow-x: hidden;
display: flex;
flex-direction: row;
position: relative;
width: 100%;
transform: none;
}

:root {
  --play:running;
  --direction: normal;
  --duration: 68.663125s;
  --delay: 0s;
  --iteration-count: infinite;
  --min-width: 100%;

}

.rfm-marquee{
  flex: 0 0 auto;
  min-width: var(--min-width);
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}

.rfm-initial-child-container {
  flex: 0 0 auto;
  display: flex;
  min-width: auto;
  flex-direction: row;
  align-items: center;
}
.rfm-child {
  transform: var(--transform);
}

 /* Animasi untuk bergerak ke kanan */
 .move-right {
  animation: moveRight 10s linear infinite;
}

/* Animasi untuk bergerak ke kiri */
.move-left {
  animation: moveLeft 10s linear infinite;
}
.marquee{
  animation: scroll 15s linear infinite;
}
.marque-reverse{
  animation-direction: reverse;
}

/* Keyframes untuk menggerakkan ke kanan */
@keyframes moveRight {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(100px);
  }
}

/* Keyframes untuk menggerakkan ke kiri */
@keyframes moveLeft {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-100px);
  }
}
